body{
    background-color:#FFFFFF;
}
.main{
    width:1350px;
    height:600px;
    background-color:cornflowerblue;
    margin-top:55px;
}
.main-header{
    width:844px;
    height:450px;
    background-color:navy;
    margin-top:-530px;
    float:left;
    margin-left:250px;
    margin-right:250px;
    border-style:solid;
    border-radius:30px;
    border-width:5px;
}
.Image{
    border-radius:50%;
    float:left;
    margin-top:-435px;
    margin-left:265px;
    border-width:15px;
}
.main-part_1{
    width:3px;
    height:300px;
    background-color:#000000;
    float:left;
    margin-top:-485px;
    margin-left:508px;
}
.main-part_2{
    width:850px;
    height:60px;
    background-color:orangered;
    float:left;
    margin-top:-150px;
    margin-left:210px;
}
.content_1{
    float:left;
    margin-top:-410px;
    margin-left:520px;
    font-family: Helvetica, sans-serif;
    color:#FFFFFF;
}
.content_2{
    margin-left:900px;
    margin-top:-250px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#FFFFFF;
}





