body{
    background-image:URL("image2.jpg")
}
#box{
    width:684px;
    height:390px;
    background-image:linear-gradient(to bottom,rgba(0, 0, 255,0),rgba(0, 0, 255,0.6));
    margin-top:120px;
    margin-left:340px;
    border:solid white;
    border-radius:5%;
}
#header{
    text-align: center;
    margin-top:-395px;
    color:#FFFFFF;
    font-family:cursive;
}
.content_1{
    margin-top:30px;
    margin-left:375px;
    font-size:20px;
    font-family:cursive;
}
.content_2{
    float:left;
    margin-top:20px;
    margin-left:420px;
    font-size:20px;
    font-family:cursive;
    color:#FFFFFF;
}
.Image_1{
    border-radius:90%;
    margin-top:15px;
    margin-left:50px;
}
.Image_2{
    border-radius:90%;
    float:left;
    margin-top:-43px;
    margin-left:680px;
}
.Image_3{
    border-radius:90%;
    float:left;
    margin-top:-43px;
    margin-left:770px;
}
.Image_4{
    border-radius:90%;
    float:left;
    margin-top:-43px;
    margin-left:860px;
}
.Image_5{
    border-radius:90%;
    float:left;
    margin-top:-43px;
    margin-left:950px;
}

