body{
    background-image:URL("strawberry.jpg");
}
.wrapper{
    position:absolute;
    top:42%;
    left:61%;
    transform: translate(-50%,-50%);
}
.text-area{
    font-size:56px;
    text-transform: uppercase;
}
.text-area span{
    color:#FFFFFF;
    transform: rotate(-180deg) translate(150px,0);
    animation:animate 3s forwards;
    display:inline-block;
}
.text-area span:nth-of-type(2){
     animation-delay: .1s;
}
.text-area span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area span:nth-of-type(5){
    animation-delay: .4s;
}
.text-area span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area span:nth-of-type(8){
    animation-delay: .7s;
}
.text-area span:nth-of-type(9){
    animation-delay: .8s;
}
.text-area span:nth-of-type(10){
    animation-delay: .9s;
}
.text-area span:nth-of-type(11){
    animation-delay: .10s;
}

@keyframes animate {
    30%{
        transform: translate(0,-50px) rotate(180deg) scale(1);
    }

     50%{
        transform: translate(0,20px) rotate(0deg) scale(1);
        opacity:1;
    }
    80%{
        transform: translate(-100px,-100px) rotate(-180deg) scale(1.5);
        opacity:0;
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity:1;
    }
}